/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/////////////////////////////////////////////////////////////////////////

///   OVERALL   ///

/////////////////////////////////////////////////////////////////////////

html, body {
	// background-color: aliceblue;
	font-family: helvetica, arial, sans-serif;
}

/////////////////////////////////////////////////////////////////////////

///   NAVBAR   ///

/////////////////////////////////////////////////////////////////////////

.navbar-container {
	background-color: white;
	header {
		width: 1200px;
		margin: 0 auto;
		.navbar {
			display: flex;
			padding-top: 10px;
			padding-bottom: 10px;
			.logo {
				padding-top: 6px;
			}
			nav {
				display: flex;
				.navbar-links {
					padding-top: 18px;
					margin-left: 50px;
					a {
						margin-left: 20px;
						text-decoration: none;
						color: #0014DD;
					}
				}
				.navbar-cta {
					position: relative;
					left: 592px;
					.btn {
						background-color: white;
						color: #0014DD;
						padding: 16px;
						border-radius: 25px;
						border: 1px solid #0014DD;
					}
				}
			}
		}
	}
}

/////////////////////////////////////////////////////////////////////////

///   HERO   ///

/////////////////////////////////////////////////////////////////////////

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	.hero {
		width: 1000px;
		margin-left: 100px;
		.uvp {
			width: 800px;
			margin-left: 100px;
			padding-top: 100px;
			color: #0014DD;
			.tagline {
				text-align: center;
				font-size: 40px;
				font-family: 'Poppins', Arial, Helvetica, sans-serif;
				font-weight: bold;
			}
			.description {
				text-align: center;
				margin-top: 30px;
				font-size: 20px;
				font-family: 'Poppins', Arial, Helvetica, sans-serif;
				line-height: 30px;
			}
		}
		.request {
			margin-top: 40px;
			width: 600px;
			margin-left: 200px;
			background-color: white;
			border: 3px solid #0014DD;
			border-radius: 30px;
			input {
				width: 416px;
				height: 55px;
				border: 1px solid white;
				border-radius: 25px 0 0 25px;
			}
			button {
				background-color: #0014DD;
				height: 57px;
				width: 180px;
				border-radius: 30px;
				color: white;
			}
		}
		.dashboard {
			margin-top: 80px;
			margin-left: 28px;
		}
	}

	
}

/////////////////////////////////////////////////////////////////////////

///   CUSTOMERS   ///

/////////////////////////////////////////////////////////////////////////

.customers {
	width: 800px;
	margin: 50px auto 0;
	p {
		color: #0014DD;
		text-align: center;
	}
}

/////////////////////////////////////////////////////////////////////////

///  EXPERIMENTS   ///

/////////////////////////////////////////////////////////////////////////


.experiments {
	width: 1200px;
	margin-top: 100px;
	.slider {
		display: flex;
		justify-content: space-around;
	}
}


/////////////////////////////////////////////////////////////////////////

///   PROCESS   ///

/////////////////////////////////////////////////////////////////////////

.process {
	width: 1200px;
	margin-top: 100px;
	h3 {
		color: #0014DD;
		font-size: 24px;
		font-weight: bold;
	}
	.lorem {
		margin-top: 10px;
		font-size: 18px;
	}
	.growth-levers {
		display: flex;
		.gl-left {
			margin-left: 100px;
			width: 400px;
		}
		.gl-right {
			margin-left: 200px;
		}
	}
	.growth-experiments {
		margin-top: 80px;
		display: flex;
		.ge-left {

		}
		.ge-right {
			margin-left: 100px;
			width: 400px;
		}
	}
	.design-build-analyse {
		display: flex;
		margin-top: 80px;
		.dba-left {
			margin-left: 100px;
			width: 400px;
		}
		.dba-right {
			margin-left: 200px;
		}
	}
}

/////////////////////////////////////////////////////////////////////////

///  TYPE   ///

/////////////////////////////////////////////////////////////////////////

.type {
	width: 1200px;
	margin: 100px auto 0 auto;
	.type-title {
		h3 {
			color: #0014DD;
			font-size: 24px;
			font-weight: bold;
		}
	}
	.type-categories {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		h4 {
			color: #0014DD;
			font-size: 20px;
			font-weight: bold;
		}
		p {
			margin-top: 10px;
			width: 300px;
			text-align: justify;
		}
	}
}

/////////////////////////////////////////////////////////////////////////

///  FOOTER  ///

/////////////////////////////////////////////////////////////////////////

.footer-container {
	background-color: white;
	margin-top: 100px;
	.footer {
		width: 1200px;
		margin: 0 auto;
		.footerbar {
			width: 300px;
			margin: 0 auto;
			.footer-logo {

			}
			.copywright {
				text-align: center;
			}
		}
	}
}