/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
html,
body {
  font-family: helvetica, arial, sans-serif;
}
@media (max-width: 800px) {
  .navbar {
    width: 200px;
    margin: 0 auto;
  }
  .navbar .mobile-menu {
    display: flex;
    margin-top: 7px;
  }
  .navbar .mobile-menu .hamburger {
    position: absolute;
    right: 5px;
  }
  .navbar .toggle {
    display: none;
  }
  .navbar .navbar-links {
    margin-top: 20px;
  }
  .navbar .navbar-links a {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: blue;
  }
  .navbar .navbar-cta {
    text-align: center;
    margin-top: 20px;
  }
  .navbar .navbar-cta .btn {
    background-color: white;
    color: #0014DD;
    padding: 16px;
    border-radius: 25px;
    border: 1px solid #0014DD;
  }
}
@media (min-width: 801px) {
  .navbar-container {
    background-color: white;
  }
  .navbar-container header .navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-container header .navbar .logo {
    margin-left: 20px;
    padding-top: 6px;
  }
  .navbar-container header .navbar .hamburger {
    display: none;
  }
  .navbar-container header .navbar nav {
    display: flex;
  }
  .navbar-container header .navbar nav .navbar-links {
    padding-top: 18px;
    margin-left: 50px;
  }
  .navbar-container header .navbar nav .navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #0014DD;
  }
  .navbar-container header .navbar nav .navbar-cta {
    position: absolute;
    right: 20px;
  }
  .navbar-container header .navbar nav .navbar-cta .btn {
    background-color: white;
    color: #0014DD;
    padding: 16px;
    border-radius: 25px;
    border: 1px solid #0014DD;
  }
}
@media (min-width: 1200px) {
  .navbar-container {
    background-color: white;
  }
  .navbar-container header {
    width: 1200px;
    margin: 0 auto;
  }
  .navbar-container header .navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-container header .navbar .logo {
    padding-top: 6px;
  }
  .navbar-container header .navbar .hamburger {
    display: none;
  }
  .navbar-container header .navbar nav {
    display: flex;
  }
  .navbar-container header .navbar nav .navbar-links {
    padding-top: 18px;
    margin-left: 50px;
  }
  .navbar-container header .navbar nav .navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #0014DD;
  }
  .navbar-container header .navbar nav .navbar-cta {
    position: relative;
    left: 570px;
  }
  .navbar-container header .navbar nav .navbar-cta .btn {
    background-color: white;
    color: #0014DD;
    padding: 16px;
    border-radius: 25px;
    border: 1px solid #0014DD;
  }
}
@media (max-width: 800px) {
  .container .hero .uvp {
    padding-top: 50px;
    color: #0014DD;
  }
  .container .hero .uvp .tagline {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .container .hero .uvp .description {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .container .hero .request {
    margin-top: 40px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: white;
    border: 3px solid #0014DD;
    border-radius: 30px;
  }
  .container .hero .request input {
    height: 40px;
    border: 1px solid white;
    border-radius: 25px 0 0 25px;
  }
  .container .hero .request button {
    margin-top: 2px;
    background-color: #0014DD;
    height: 40px;
    position: absolute;
    right: 6%;
    width: 140px;
    border-radius: 40px;
    color: white;
  }
  .container .hero .dashboard {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .container .hero .dashboard img {
    width: 100%;
  }
}
@media (min-width: 801px) {
  .container .hero .uvp {
    padding-top: 50px;
    color: #0014DD;
  }
  .container .hero .uvp .tagline {
    text-align: center;
    font-size: 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .container .hero .uvp .description {
    max-width: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 30px;
  }
  .container .hero .request {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: white;
    border: 3px solid #0014DD;
    border-radius: 30px;
  }
  .container .hero .request input {
    height: 40px;
    border: 1px solid white;
    border-radius: 25px 0 0 25px;
  }
  .container .hero .request button {
    margin-top: 2px;
    background-color: #0014DD;
    height: 40px;
    position: relative;
    left: 328px;
    width: 140px;
    border-radius: 40px;
    color: white;
  }
  .container .hero .dashboard {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container .hero .dashboard img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
  }
  .container .hero {
    width: 1000px;
    margin-left: 100px;
  }
  .container .hero .uvp {
    width: 800px;
    margin-left: 100px;
    padding-top: 100px;
    color: #0014DD;
  }
  .container .hero .uvp .tagline {
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .container .hero .uvp .description {
    margin: 0;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 30px;
  }
  .container .hero .request {
    margin-top: 40px;
    width: 600px;
    margin-left: 200px;
    background-color: white;
    border: 3px solid #0014DD;
    border-radius: 30px;
  }
  .container .hero .request input {
    width: 416px;
    height: 55px;
    border: 1px solid white;
    border-radius: 25px 0 0 25px;
  }
  .container .hero .request button {
    background-color: #0014DD;
    position: relative;
    left: -2px;
    height: 57px;
    width: 180px;
    border-radius: 30px;
    color: white;
  }
  .container .hero .dashboard {
    margin-top: 80px;
    margin-left: 28px;
    margin-right: 0px;
  }
}
@media (max-width: 800px) {
  .customers {
    margin-top: 80px;
  }
  .customers h4 {
    text-align: center;
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
  }
  .customers .logos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .customers .logos img {
    padding-top: 20px;
  }
  .customers .logos .mobile-none {
    display: none;
  }
}
@media (min-width: 801px) {
  .customers {
    width: 80%;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .customers h4 {
    text-align: center;
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
  }
  .customers .logos {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .customers {
    width: 800px;
    margin-left: 200px;
    margin-top: 80px;
  }
  .customers h4 {
    text-align: center;
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
  }
  .customers .logos {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .experiments {
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .experiments .slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .experiments .scroll::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 601px) {
  .experiments {
    margin-top: 50px;
  }
  .experiments .slider {
    width: 94%;
    margin-left: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .experiments .scroll::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1200px) {
  .experiments {
    width: 1200px;
    width: 100%;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .experiments .slider {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .process {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .process .mobile-none {
    display: none;
  }
  .process h3 {
    margin-top: 30px;
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
  }
  .process .lorem {
    margin-top: 10px;
    text-align: justify;
  }
}
@media (min-width: 601px) {
  .process {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .process .mobile-none {
    display: none;
  }
  .process h3 {
    margin-top: 30px;
    color: #0014DD;
    font-size: 30px;
    font-weight: bold;
  }
  .process .lorem {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    font-family: 'helvetica';
    font-weight: lighter;
  }
}
@media (min-width: 1200px) {
  .process {
    width: 1200px;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .process .mobile-none {
    display: block;
  }
  .process h3 {
    color: #0014DD;
    font-size: 38px;
    font-weight: bold;
  }
  .process .lorem {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    font-family: 'helvetica';
    font-weight: lighter;
  }
  .process .growth-levers {
    display: flex;
  }
  .process .growth-levers .gl-left {
    width: 600px;
  }
  .process .growth-levers .gl-right {
    width: 600px;
    margin-left: 100px;
  }
  .process .growth-experiments {
    margin-top: 80px;
    display: flex;
  }
  .process .growth-experiments .ge-left {
    width: 600px;
  }
  .process .growth-experiments .ge-right {
    width: 600px;
    margin-left: 100px;
  }
  .process .design-build-analyse {
    display: flex;
    margin-top: 80px;
  }
  .process .design-build-analyse .dba-left {
    width: 600px;
  }
  .process .design-build-analyse .dba-right {
    width: 600px;
    margin-left: 100px;
  }
}
@media (max-width: 600px) {
  .type .type-title {
    margin-top: 60px;
  }
  .type .type-title h3 {
    color: #0014DD;
    font-size: 24px;
    font-weight: bold;
    margin-left: 2%;
  }
  .type .type-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    margin-left: 2%;
  }
  .type .type-categories h4 {
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  .type .type-categories p {
    margin-top: 10px;
    text-align: justify;
    font-family: 'helvetica';
    font-weight: lighter;
  }
}
@media (min-width: 601px) {
  .type {
    margin-top: 50px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .type .type-title h3 {
    color: #0014DD;
    font-size: 24px;
    font-weight: bold;
  }
  .type .type-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .type .type-categories .category {
    margin-left: 10px;
  }
  .type .type-categories .category:first-child {
    margin-left: 0px;
  }
  .type .type-categories h4 {
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
  }
  .type .type-categories p {
    margin-top: 10px;
    margin-right: 20px;
    width: 100%;
    text-align: justify;
    font-family: 'helvetica';
    font-weight: lighter;
  }
}
@media (min-width: 1200px) {
  .type {
    width: 1200px;
  }
  .type .type-title h3 {
    color: #0014DD;
    font-size: 24px;
    font-weight: bold;
  }
  .type .type-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .type .type-categories h4 {
    color: #0014DD;
    font-size: 20px;
    font-weight: bold;
  }
  .type .type-categories p {
    margin-top: 10px;
    width: 360px;
    text-align: justify;
    font-family: 'helvetica';
    font-weight: lighter;
  }
}
@media (max-width: 800px) {
  .footer-container {
    margin-top: 80px;
  }
  .footer-container .team {
    margin-left: 2%;
  }
  .footer-container .team img {
    width: 96%;
  }
  .footer-container .footerbar {
    margin-left: 20%;
  }
}
@media (min-width: 801px) {
  .footer-container {
    background-color: white;
    margin-top: 100px;
  }
  .footer-container .footer {
    width: 1200px;
    margin: 0 auto;
  }
  .footer-container .footer .footerbar {
    width: 300px;
    margin: 0 auto;
  }
  .footer-container .footer .footerbar .copywright {
    text-align: center;
    margin-bottom: 20px;
  }
}
